

/* background 5315BD */
/* border 1A0936 */
/* font FDDD29 */
/* other F9F6DF */

html {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 30px !important;
  background-color: #5315BD;
  color: #1A0936 !important;
}



body {
  border-color: #1A0936;
  background-color: #ffffff;
  border-width: 10px;
  border-style: solid;
  border-radius: 50px;
  width: 80%;
  min-width: 800px;
  margin: 0 auto;
  text-align: center;
}

main {
    border-color: #1A0936;
    background-color: #5315BD;
    margin: 5%;
    height: 1600px;
    border-width: 10px;
    border-style: solid;
    border-radius: 25px;
}

table {
    border-color: #1A0936;
    background-color: #F9F6DF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-width: 10px;
    border-style: solid;
    border-radius: 25px;
}

.main_table {
    border-color: #1A0936;
    
}

img {
  max-width: 150px;
  max-height: 150px;
}

.computer_list {
  background-color: #F9F6DF;    
  margin-left: 5%;
  margin-right: 5%;
  border-color: #1A0936;
  border-width: 10px;
  border-style: solid;
  border-radius: 25px;
}

p {
  background-color: #F9F6DF;    
  margin-left: 5%;
  margin-right: 5%;
  border-color: #1A0936;
  border-width: 10px;
  border-style: solid;
  border-radius: 25px;
}