:root {
    --bg: #fafafa;
    --accent: #c49b00;   /* gold museum accent */
    --dark: #333;
    --light: #ffffff;
    --muted: #666;
    --border: #e2e2e2;


    --heading-font: 'Georgia', serif;
    --body-font: 'Helvetica Neue', Arial,  sans-serif;

}


body {
    background-color: var(--bg);
    color: var(--dark);
    font-family: var(--body-font);
    line-height: 1.6;
    padding-bottom: 60px;
}

header {
    background-color: var(--light);
    border-bottom: 1px solid var(--border);
    padding: 20px 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

header h1 {
  fond-family: var(--heading-font);
  text-align: center;
  font-size: 2.25rem;
  letter-spacing: 1px;
  color: var(--dark)
}

nav {
    text-align: center;
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    color: var(--dark);
    transform: 0.3s;
}

nav a:hover {
    color: var(--accent);
}