:root {
  --bg: #fafafa;
  --accent: #c49b00;
  --dark: #333;
  --light: #fff;
  --muted: #666;

  --heading-font: "Georgia", serif;
  --body-font: "Helvetica Neue", Arial, sans-serif;
}

/* ------------------------------------------------------------------------- */

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff7d1; /* soft gold pastel */
  border-bottom: 1px solid #e0c878;

}

.hero {
  background: url("../Images/hero-museum.jpg") center/cover no-repeat;
  padding: 120px 20px;
  text-align: center;
  color: var(--dark);
}

.logo {
  font-family: var(--heading-font);
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-links a {
  margin-left: 18px;
  font-weight: 600;
}

.nav-links a:hover {
  color: var(--accent);
}

/* ------------------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    font-family: var(--body-font);
    color: var(--dark);
    line-height: 1.6;
}

main {
    background-color: rgb(185, 185, 155);
}

.article_grid {
    background-color:rgb(236, 236, 198);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-width, 1fr));
    row-gap: 10px;
    column-gap: 100px;
    padding: 20px;
    /* max-width: 1400px; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.article_grid img {
    max-width: 400px;
    max-height: 400px;
}

/*  */
/* https://css.glass/ <-- good idea for later*/ 
/* https://www.w3schools.com/html/html_examples.asp */

.article_piece {
    background: rgb(153, 153, 128);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    scale: 1;
    transition: all 0.3s ease;
}

.article_piece:hover {
  display: block;
  background-color: rgb(103, 103, 87);
  scale: 1.01;
  box-shadow: 0 4px 15px rgb(0, 0, 0);
  
}

.article_piece p {
    text-align: center;
    background-color: rgb(255, 255, 0);
}

.article_piece h2 {
    text-align: center;
    background-color: rgb(225, 225, 154);
}

header {
    background-color: rgb(233, 233, 115);

}

header h1 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 32px;
    font-family: var(--heading-font);
}

/* ----- Colour Theme ----- */
:root {
  --bg: #fafafa;
  --accent: #c49b00;
  --dark: #333;
  --light: #fff;
  --muted: #666;

  --heading-font: "Georgia", serif;
  --body-font: "Helvetica Neue", Arial, sans-serif;
}

